<aside class="col-lg-4 sidebar mt-11 mt-lg-6">
    <div class="widget">
        <h4 class="widget-title mb-3">À propos de nous</h4>
        <p>
            Makappi est un outil no-code de création d'App Mobile e-commerce pour les boutiques Shopify. Une solution simple et rapide pour améliorer la rétention et augmenter les ventes sur mobile.
        </p>
        <nav class="nav social">
            <a href="https://www.linkedin.com/company/makappi/" target="_blank"><i class="uil uil-linkedin"></i></a>
            <a href="https://www.twitter.com/makappi_app" target="_blank"><i class="uil uil-twitter"></i></a>
        </nav>
    </div>
    <div class="widget">
        <h4 class="widget-title mb-3">Articles récents</h4>
        <ul class="image-list">
            <li>
                <figure class="rounded"><a href="@@webRoot/fr/blog/articles/7-raisons-avoir-une-app-mobile.html"><img src="@@webRoot/assets/img/blog/mobile-black-background.jpg"/></a></figure>
                <div class="post-content">
                    <h6 class="mb-2"> 
                        <a class="link-dark" href="@@webRoot/fr/blog/articles/7-raisons-avoir-une-app-mobile.html">
                            7 bonnes raisons d'avoir une App Mobile pour sa boutique Shopify en 2023
                        </a>
                    </h6>
                    <ul class="post-meta">
                        <li class="post-date"><i class="uil uil-calendar-alt"></i><span>25 Février 2023</span></li>
                    </ul>
                </div>
            </li>
            <li>
                <figure class="rounded"> <a href="@@webRoot/fr/blog/articles/3-etapes-envoyer-code-promo-notifications-pushs.html"><img src="@@webRoot/assets/img/blog/woman-holding-mobile-phone.jpg"/></a>
                </figure>
                <div class="post-content">
                    <h6 class="mb-2">
                        <a class="link-dark" href="@@webRoot/fr/blog/articles/3-etapes-envoyer-code-promo-notifications-pushs.html">
                            3 étapes pour envoyer un code promo à vos clients avec les notifications push
                        </a>
                    </h6>
                    <ul class="post-meta">
                        <li class="post-date"><i class="uil uil-calendar-alt"></i><span>15 Février 2023</span></li>
                    </ul>
                </div>
            </li>
            <li>
                <figure class="rounded"> <a href="@@webRoot/fr/blog/articles/4-astuces-navigation-app-mobile.html"><img src="@@webRoot/assets/img/blog/navigation-map.jpg"/></a>
                </figure>
                <div class="post-content">
                    <h6 class="mb-2">
                        <a class="link-dark" href="@@webRoot/fr/blog/articles/4-astuces-navigation-app-mobile.html">
                            4 astuces pour rendre la navigation plus efficace sur une App Mobile
                        </a>
                    </h6>
                    <ul class="post-meta">
                        <li class="post-date"><i class="uil uil-calendar-alt"></i><span>3 Février 2023</span></li>
                    </ul>
                </div>
            </li>
            <li>
                <figure class="rounded"> <a href="@@webRoot/fr/blog/articles/5-conseils-notifications-push-relance-paniers-abandones.html"><img src="@@webRoot/assets/img/blog/shopping-bag.jpg"/></a></figure>
                <div class="post-content">
                    <h6 class="mb-2">
                        <a class="link-dark" href="@@webRoot/fr/blog/articles/5-conseils-notifications-push-relance-paniers-abandones.html">
                            5 idées de notifications push pour relancer les paniers abandonnés
                        </a>
                    </h6>
                    <ul class="post-meta">
                        <li class="post-date"><i class="uil uil-calendar-alt"></i><span>20 Janvier 2023</span></li>
                    </ul>
                </div>
            </li>
            <li>
                <figure class="rounded"><a href="@@webRoot/fr/blog/articles/tendances-mcommerce-2023.html"><img src="@@webRoot/assets/img/blog/open-sign.jpg"/></a></figure>
                <div class="post-content">
                    <h6 class="mb-2"> <a class="link-dark" href="@@webRoot/fr/blog/articles/tendances-mcommerce-2023.html">
                            Les tendances du m-commerce pour 2023
                        </a>
                    </h6>
                    <ul class="post-meta">
                        <li class="post-date"><i class="uil uil-calendar-alt"></i><span>12 Janvier 2023</span></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</aside>