                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @@include('_blog_sidebar_fr.html')

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /section -->

    </div>
    <!-- /content-wrapper -->

    @@include('_footer_fr.html')
    @@include('_page-progress.html')
    @@include('_scripts.html')
    @@include('_cookie_fr.html')
</body>

</html>