<footer class="bg-soft-primary mt-20">
    <div class="container">
      <div class="row">
        <div class="col-xl-11 col-xxl-10 mx-auto">
          <div class="card image-wrapper bg-full bg-primary bg-overlay-400 mt-n50p mb-n15 mb-md-n5">
            <div class="card-body p-6 p-md-11 d-lg-flex flex-row align-items-lg-center justify-content-md-between text-center text-lg-start">
              <h3 class="display-5 mb-6 mb-lg-0 pe-lg-15 pe-xxl-18 text-white">Increase your customer's engagement and boost your sales with your Mobile App</h3>
              <a href="https://apps.shopify.com/makappi" target="_blank" class="btn btn-white rounded-pill mb-0 text-nowrap">Create your App</a>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <div class="container pb-12 text-center">
      <div class="row mt-10 mt-lg-0">
        <div class="col-xl-10 mx-auto">
          <div class="row mb-3">
            <div class="col-md-4">
              <div class="widget text-lg-start">
                <h4 class="widget-title">Contact us</h4>
                <ul class="list-unstyled mb-0">
                  <li><a href="mailto:contact@makappi.com">contact@makappi.com</a></li>
                  <li><br /></li>
                  @@if (context.currentPage == "support") {
                    <li><a href="@@webRoot/fr/support/">Passer en Français <img src="@@webRoot/assets/img/flags/france.png" class="w-5 mb-1" /></a></li>
                  }
                  @@if (context.currentPage != "support") {
                    <li><a href="@@webRoot/fr">Passer en Français <img src="@@webRoot/assets/img/flags/france.png" class="w-5 mb-1" /></a></li>
                  }
                </ul>
              </div>
              <!-- /.widget -->
            </div>
            <!--/column -->
            <div class="col-md-8 gy-5 col-lg-8">
              <div class="widget">
                <ul class="list-unstyled text-lg-end mb-0 mt-lg-0">
                  <li><a href="@@webRoot/partners.html">Partners</a></li>
                  <li><a href="@@webRoot/fr/mentions.html">Legal notices</a></li>
                  <li><a href="@@webRoot/assets/docs/PolitiqueConfidentialite.pdf" target="_blank">Privacy Policy</a></li>
                  <li><a href="@@webRoot/assets/docs/CGU.pdf" target="_blank">Terms of use</a></li>
                </ul>
              </div>
              <!-- /.widget -->
            </div>
            <!-- /column -->
          </div>
          <!--/.row -->
          <!-- /.social -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>